on: push

permissions:
  pull-requests: write
  contents: write

env:
  CI: true

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: yarn

      - name: Install
        run: yarn --immutable

      - name: Build
        run: yarn build

      - name: Lint
        run: yarn lint

      - name: Prettier
        run: yarn prettier --check .

      - name: Run unit tests
        run: yarn test

      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: packages/aoboshi-app
          zip: true
