on: push

permissions:
  contents: read

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: yarn

      - name: Install
        run: yarn --immutable

      - name: Build
        run: yarn build

      - name: Lint
        run: yarn lint

      - name: Prettier
        run: yarn prettier --check .

      - name: Install Playwright browser binaries
        run: yarn playwright install --with-deps chromium

      - name: Run unit tests
        run: yarn test

      - name: Publish to Chromatic
        uses: chromaui/action@v13
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: packages/aoboshi-app
          exitOnceUploaded: true

  test:
    timeout-minutes: 60
    name: Playwright tests on macOS
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-15
          - macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: yarn

      - name: Install
        run: yarn --immutable

      - name: Build
        run: yarn build

      - name: Package
        run: yarn package:ci

      - name: Run Playwright tests
        run: yarn playwright test

      - name: Upload Playwright report
        uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-${{ matrix.os }}
          path: playwright-report/
          retention-days: 30
